@import url("/styles/header.css");
@import url("/styles/menu__add-tarefa.css");
@import url("/styles/body__planner.css");

:root{
--fonte-principal: "Poppins";

 --cor-primaria: #6688FF;
 --cor-secundaria: #2CBE82;
 --cor-terciaria: #DA2B40;
 --branco: #FFFFFF;
 --cor-fonte: #3B3E45;
}

body{
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-fonte);
    background-image: url();
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 900px;
}