/* Estilizando planner*/

.planner__container{
    background-color: transparent;
    display: flex;
}

.container__planner-horarios{
    background-color: transparent;
    width: max-content;
}

 .planner__horario{
    width: 85px;
    height: 75px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 17px;
    margin-left: 1em;
    border-left: 40px;
}
.card__planner.segunda{
    border-left-color: #FFA246;
}
.card__planner.terca{
    border-left-color: #35E185;
}
.card__planner.quarta{
    border-left-color: #6688FF;
}
.card__planner.quinta{
    border-left-color: #B266FF;
}
.card__planner.sexta{
    border-left-color: #66D1FF;
}
.card__planner.sabado{
    border-left-color: #FF66D4;
}
.card__planner.domingo{
    border-left-color: #FF6666;
}

.container__dias-semana{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: 1em;
}

.container__dias-semana .dia__semana{
    height: 33px;
    width: 150px;
    left: 0px;
    top: 0px;
    
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    border-radius: 9px 9px 0px 0px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.75em;
    font-weight: 700;
    font-size: 17px;
    color: var(--branco);
}
.container__dias-semana .dia__semana.clicado{
    cursor: pointer;
    width: 170px;
}
.dia__semana:hover{
    cursor: pointer;
    width: 170px;
}

.dia-segunda__color{
    background-color: #FFA246;
}
.dia-segunda__color:hover{
    background-color: #cc7000;
    transition: all 1s; 
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
}

.dia-terca__color{
    background-color: #35E185;
}
.dia-terca__color:hover{
    background-color: #006400;
    transition: all 1s;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
}

.dia-quarta__color{
    background-color: #6688FF;
    width: 190px;
}
.dia-quarta__color:hover{
    background-color: #00008b;
    transition: all 1s;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
}

.dia-quinta__color{
    background-color: #B266FF;
}
.dia-quinta__color:hover{
    background-color: #800080;
    transition: all 1s;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
}

.dia-sexta__color{
    background-color: #66D1FF;
}
.dia-sexta__color:hover{
    background-color: #008b8b;
    transition: all 1s;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
}

.dia-sabado__color{
    background-color: #FF66D4;
}
.dia-sabado__color:hover{
    background-color: #e00074;
    transition: all 1s;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
}

.dia-domingo__color{
    background-color: #FF6666;
}
.dia-domingo__color:hover{
    background-color: #8b0000;
    transition: all 1s;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
}

.body__planner{
    display: flex;
}

.container-etiquetas__main{
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.container-cards-interno__main{
    display: flex;
}

.card__planner{
        display: flex;
        margin-top: 10px;
        width: 512px;
        min-height: 85px;
    
        background: linear-gradient(112.83deg, rgba(255, 255, 255, 0.3444) 0%, rgba(255, 255, 255, 0.336) 110.84%);
        border: 1px solid #FFFFFF;
        border-radius: 15px;
        box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
        border-left: solid 15px;
}

.planner-horario-interno__card{
    width: 85px;
    min-height: 85px;
    background: orange;
    color: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 14px;
}

.horario-interno__card{
    font-weight: 400;
    font-size: 17px;
    padding: 10px;
}

.border-card__main{
    width: 3%;
    border-radius: 15px 0px 0px 15px;
}

.texto-button__card-interno{
    width: 97%;
    display: flex;
    justify-content: space-between;
}

.texto-card__main{
    padding: 13px;
    font-weight: 400;
    font-size: 20px;
    color: #333333;
}

.button-card__main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    width: 57px;
    height: 25px;
    background: #98031E;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    color: var(--branco);
    padding: 2.5px 4px;
    border: none;
    margin-right: 8px;
    margin-top: 6px;
}
.button-card__main:hover{
    cursor: pointer;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
}

.planner-horario__card{
    width: 85px;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 17px;
    margin-left: 1em;
}

.choqueHorario div{
    border-left-color: red;
}
.planner-horario-interno__card.choqueHorario{
    background-color: red;
}


::-webkit-scrollbar{
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    border-radius: 22px;
    width: 16px;
}

::-webkit-scrollbar-thumb{
    background: #DCDFE3;
    border-radius: 8px;
    width: 8px;
}